.bodydiv{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  background-color: var(--bg);
}

.profilediv{
  min-height: 74.5vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 2vh 2vw;
  grid-column-gap: 2vw;
}

.addressdiv{
  background-color: var(--formdivbg);
  box-shadow: var(--boxshadow);
  padding: 6vh 1vw;
}

.addressdiv h3{
  text-align: center;
}

/* Add Address grid styling here */

.addressdiv form{
  margin-top: 5vh;
  padding: 0 2vw;
}

.addressdiv form >div{
  margin: 2vh 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}

.addressdiv form div:last-child, .addressdiv form div:nth-last-child(2){
  display: block;
  text-align: center;
  margin:1vh 0;
}

.addressdiv form div:nth-last-child(2){
  margin-top: 3vh;
}

.addressdiv form label{
  display: inline-block;
  padding-top: 5px;
  box-sizing: border-box;
}

.addressdiv form input{
  background-color: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

.addressdiv form button{
  border-radius: 5px;
  width: 150px;
  margin: 2vh;
}
