:root{
  --contentBg: #FAF1C0;
  --contentBorder: #C97A4A;
  --content: #A75828;
}

body{
  margin: 0;
  padding: 0;
}

.bodydiv{
  height: 100vh;
  width: 100vw;
  margin:0;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

#errordiv{
  z-index: 5;
  top: 30px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
  background-color: var(--contentBorder);
  padding: 10px;
  color: #ddd;
  border: 5px solid #777;
}

#errordiv p{
  text-align: justify;
  margin: 0;
}

.contentdiv{
  box-sizing: border-box;
  background-color: var(--contentBg);
  margin: 9vh 4vw;
  position: fixed;
  height: 82vh;
  width: 92vw;
  border: 3.5px solid var(--contentBorder);
  overflow: auto;
  color: var(--content);
  text-align: center;
}

.tablediv{
  margin:0 5vw;
  padding: 0;
  margin-bottom: 2vh;
}

.tablediv h2{
  margin: 10px 0;
}

.tablediv table{
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-top: 25px;
}

.tablediv td, .tablediv th {
  border:3.5px solid var(--content);
}

.tablediv table tr:first-child td, .tablediv table tr:first-child th {
  border-top: none;
}

.tablediv table tr:last-child td, .tablediv table tr:last-child th {
  border-bottom: none;
}

.tablediv table tr td:last-child, .tablediv table tr th:last-child {
  border-right: none;
}

.tablediv table tr td:first-child, .tablediv table tr th:first-child {
  border-left: none;
}
