body{
  margin: 0;
  padding: 0;
}

.bodydiv{
  display: table;
  width: 100%;
}

.sectiondiv{
  display: table-row;
  text-align: center;
  width: 100%;
}

fieldset{
  display: inline-block;
}

legend{
  text-align: left;
}

.errorspan{
  color: #f22;
  display: none;
}

input[type='file']{
  display:none;
}

.filespan{
  display: inline-block;
  border: solid 1px #000;
  cursor: pointer;
}

.filespan img{
  height: 100px;
  width: 100px;
  display: none;
}
