.bodydiv{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  background-color: var(--bg);
}

.cartdiv{
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  padding: 25px;
}

.cartdisplaydiv{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.cartdisplaydiv > div{
  height: 230px;
  box-shadow: 0 0 10px #555;
  background-color: var(--formdivbg);
}

.cartproductdiv{
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 2vh 0;
  box-sizing: border-box;
}

.productimagediv{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 1vw;
}

.productinfodiv{
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-right: 1vw;
}

.productnamediv{
  box-sizing: border-box;
  padding-top: 40px;
  text-align: center;
  font-size: 27px;
  border-bottom: 1px solid var(--purple);
}

.productmathsdiv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top : 10px;
}

.productpricediv{
  padding-top: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 27px;
  border-right: 1px solid var(--purple);
}

.productquantdiv{
  padding-top: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 27px;
}

.productquantdiv button{
  font-size: 25px;
}

/* .cartpricediv{
  height: 300px;
  box-shadow: 0 0 10px #555;
  background-color: var(--white);
} */
