.bodydiv{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: var(--bg);
}

.bodydiv>div{
  margin: 0 auto;
}

.logodiv{
  width: 200px;
  height: 115px;
  padding: 0;
}

.logodiv img{
  margin-top: 15px;
  height: 100px;
  width: 200px;
}

.formdiv{
  margin-top: 15px !important;
  width: 450px;
  height: 78vh;
  box-sizing: border-box;
  background-color: var(--formdivbg);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.16);
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  padding: 0 2vw;
}

.fielddiv{
  text-align: left;
}

.fielddiv fieldset{
  padding: 1vh 2vw;
}

.fielddiv legend{
  text-align: left;
}

.fielddiv form div{
  margin-top: 1.5vh;
}

.fielddiv input{
  width: 100%;
  outline: none;
  border-radius: 0;
  border: none;
  border-bottom: black 1px solid;
  height: 35px;
  background-color: var(--formdivbg);
}

.fielddiv div{
  text-align: center;
}

.fielddiv button{
  margin: 10px 0;
  height: 30px;
  width: 100px;
  border-radius: 4px;
  outline: none;
}

.formdiv a{
  text-decoration: underline;
  color: rgb(75,75,255);
}

.redirectdiv{
  padding-top: 20px;
  text-align: center;
}
