:root{
  --bg: #F1DDF5;
  --formdivbg: #F1ECFF;
}

body{
  margin:0;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

.bodydiv{
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: var(--bg);
}

.bodydiv>div{
  margin: 0 auto;
}
