:root{
  --bg: #F1DDF5;
  --formdivbg: #F1ECFF;
  --headerbg: #BF98E9 ;
  --productinfobg:#ECE2F7;
  --purple: #800080;
  --white: #fff;
  --black: #000;
  --pricebg: #47336D;
  --pricefg: #D0A4D8;
}

body{
  margin:0;
  padding: 0;
}

a, a:active, a:focus, a:visited{
  color: black !important;
  text-decoration: none !important;
}

button{
  cursor: pointer;
}
